
/* ADD YOUR STYLES HERE */

h1 {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-weight: 200;
  font-size: 80px;
  margin-top: 8%;
  margin-bottom: 5%;
  color: black;
}

#MarxChart {
  /*background: rgba(0, 97, 0, 0.53);*/
  width: 100%;
  height: 400px;
}

.bar {
  fill: rgba(57, 83, 255, 0.52)
}

.bar:hover {
  fill: rgb(57, 83, 255)
}