<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarxProject</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.fullpage.css">

    <!-- own CSS files -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script>
        function switchfunc() {
        document.getElementById("switch").innerHTML = "updated";
        }
    </script>

</head>


<body>
    <div id="overall">

        <div id="fullpage">

            <!-- COVER PAGE -->
            <div id="cover-page" class="section">
                <h1>(Distant-)Reading Karl Marx</h1>
                <h2>Ein Versuch zum Kapital</h2>
            </div>


            <!-- INTRODUCTION -->
            <div id="intro-page" class="section">
                <h1>Intro</h1>
            </div>


            <!-- MARTINI GLASS DATA VIS, TOPIC 1 -->
            <div id="martini-one" class="section">

                <!-- slide 1 -->
                <div class="slide">
                    <h1>Topic I: Geld/Ware</h1>
                    <h2>Kontext</h2>
                </div>

                <!-- slide 2 -->
                <div class="slide">
                    <h2>Geld/Ware - Visualization 1</h2>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-1"><p>sample text</p></div>
                        <div class="col-xs-7">
                            <div id="ExampleBrushingAndFrequencyChart"></div>
                            <div id="ExampleLineChart"></div>
                        </div>
                    </div>
                </div>

                <!-- slide 3 -->
                <div class="slide">
                    <h2>Geld/Ware - Visualization 2</h2>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-1"><p>sample text</p></div>
                        <div class="col-xs-7">
                            <div id="HalfLifeGeldChart">test</div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- MARTINI GLASS DATA VIS, TOPIC 2 -->
            <div id="martini-two" class="section">

                <!-- slide 1 -->
                <div class="slide">
                    <h1>Topic II: Kapital</h1>
                    <h2>Kontext</h2>
                </div>

                <!-- slide 2 -->
                <div class="slide">
                    <h1>Kapital - Visualization 1</h1>
                </div>

                <!-- slide 3 -->
                <div class="slide">
                    <h1>Kapital - Visualization 2</h1>
                </div>

            </div>


            <!-- MARTINI GLASS DATA VIS, TOPIC 3 -->
            <div id="martini-three" class="section">

                <!-- slide 1 -->
                <div class="slide">
                    <h1>Topic III: Arbeit</h1>
                    <h2>Kontext</h2>
                </div>

                <!-- slide 2 -->
                <div class="slide">
                    <h1>Arbeit - Visualizations</h1>
                </div>

            </div>


            <!-- FINAL VIEW: DASHBOARD -->
            <div id="dashboard" class="section">
                    <h1>Explore</h1>

                <!-- visualization -->
                    <div class="row">
                        <div class="col-xs-7 col-xs-offset-2">
                            <div class="container" id="MarxChart"></div>
                        </div>
                        <div class="col-xs-1">
                            <button id="switch" onclick="switchfunc()">button text</button>
                        </div>
                        <div class="col-xs-1">
                            <form action = "http://localhost:5000/" method = "post">
                                <p>New word</p>
                                <p><input type = "text" name = "input_word" /></p>
                                <p><input type = "submit" value = "submit" /></p>
                            </form>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
            </div>

        </div> <!-- fullpage closed -->

    </div> <!-- overall closed -->


    <!-- Load JS libraries -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/d3.js"></script>
    <script src="../js/jquery.fullpage.js"></script>
    <script src="../js/jquery.fullpage.extensions.min.js"></script>

    <!-- own JS files -->
   <!-- <script src="../js/main.js"></script>-->
    <script src="../js/fullpageCustomization.js"></script>

    <!-- visualizations -->
    <script src="../js/ExampleLineChart.js"></script>
    <script src="../js/ExampleBrushingAndFrequencyChart.js"></script>
    <script src="../js/HalfLifeGeld.js"></script>

</body>
</html>